.juego {
    margin-top: 0;
}

.juegoPpal {
    width: 100%;
}

.controles {
    display: none;
}

.descripcion {
    margin: 3% 3% 0;
}

h3 {
    text-align: center;
    background-color: #582A72;
    color: white;
}

.descripcion p {
    margin-top: 25px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 25px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.btn-fav {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: transparent;
}

.btn-compartir {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: transparent;
}

.like {
    width: 30px;
    height: 30px;
}

.btn-like {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: transparent;
    transition: transform 4s, background-color 5s;
}

.btn-like:focus {
    transform: scale(1.2);
    background-color: blue;
}

.noLike {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
}

.btn-noLike {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: transparent;
    transition: transform 4s, background-color 5s;
}

.btn-noLike:focus {
    transform: scale(1.2);
    background-color: red;
}

@media only screen and (min-width:600px) {
    .juego {
        margin-top: 150px;
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: 75% 25%;
        background-color: rgba(88, 42, 114, 0.8);
        color: white;
    }
    .parteDerecha {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        display: grid;
        grid-template-rows: 70% 30%;
    }
    .botones {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
    img {
        margin: auto;
    }
    .controles {
        display: grid;
        grid-template-rows: 50% 50%;
        /*grid-template-rows: 0.6fr 0.75fr 1fr;*/
        margin-top: 4%;
    }
    .controlTeclado {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .controlMouse {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .descripcion>p {
        text-align: justify;
        overflow-y: scroll;
        height: -webkit-fill-available;
        text-overflow: ellipsis;
        white-space: break-spaces;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .descripcion>p::-webkit-scrollbar {
        display: none;
    }
    .descripcion {
        height: 160px;
        margin-bottom: 50px;
    }
    .contenedor {
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: 75% 25%;
    }
    .contenedor3 {
        margin-top: 150px;
        /*margin-left: 50px;*/
        background-color: rgba(88, 42, 114, 0.8);
        grid-template-rows: 33% 33% 33% 33%;
    }
    canvas {
        /*margin-top: 1%;*/
        background-color: #FFF7CE;
    }
    .card {
        width: 150px;
        height: 50px;
        font-size: 30px;
        text-align: center;
        color: black;
        margin-top: 25px;
        margin-left: 75px;
        border: 2px solid black;
        border-radius: 12px;
        box-shadow: 0 10px 10px -5px #909090;
    }
    .boton {
        border: none;
        margin-left: 150px;
        margin-top: 20px;
    }
    .boton img {
        width: 50px;
        height: 50px;
    }
    /*LISTA SIMILARES*/
    .lista2 {
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-rows: 30% 70%;
        margin-left: 2%;
        margin-right: 2%;
        animation: lista5 5s linear infinite 0s;
        -moz-animation: lista5 5s linear infinite 0s;
        -webkit-animation: lista5 5s linear infinite 0s;
    }
    @keyframes lista5 {
        0% {
            box-shadow: 0px 0px 5px #582A72;
        }
        20% {
            box-shadow: 0px 0px 20px #582A72;
        }
        50% {
            box-shadow: 0px 0px 30px #582A72;
        }
        60% {
            box-shadow: 0px 0px 50px #582A72;
        }
        70% {
            box-shadow: 0px 0px 30px #582A72;
        }
        80% {
            box-shadow: 0px 0px 20px #582A72;
        }
        100% {
            box-shadow: 0px 0px 5px #582A72;
        }
    }
    .linea {
        font-size: 20px;
        margin-top: 9px;
        height: 50px;
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
        margin-bottom: 50px;
    }
    .listaCard {
        /*grid-row: 2;*/
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-top: 0;
        /*column-gap: 1em;*/
    }
    p.juegoNombre {
        font-size: 16px;
        text-align: center;
        margin-top: 12px;
        margin-left: 10px;
        margin-right: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .card {
        margin-left: 22px;
        border: 2px solid black;
        border-radius: 5px;
        width: 228px;
        height: 200px;
    }
    .imgCard {
        border-radius: 5px;
    }
    .card:hover {
        border: 3px solid #582A72;
    }
    h3 {
        text-align: center;
        margin-top: 5px;
    }
    .nombre {
        height: 50px;
        width: 225px;
        justify-items: center;
    }
    /*DIV CRONOMETRO*/
    .cardTiempo {
        width: 100px;
        height: 150px;
    }
    /*Eleccion*/
    .center {
        position: absolute;
        top: 300px;
        left: 400px;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        background: #fff;
        color: #2f2440;
        animation: start-animation 0.8s ease both;
    }
    .dismiss {
        position: absolute;
        width: 250px;
        height: 50px;
        background: #F0B510;
        color: #fff;
        border: none;
        border-radius: 0 0 5px 5px;
        bottom: 0;
        font-size: 22px;
        transition: all 0.5s;
    }
    .dismiss:hover {
        cursor: pointer;
        letter-spacing: 2px;
        box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.5);
        transition: all 0.5s linear;
    }
    .hide-out {
        animation: hide_out 0.5s linear forwards;
    }
    @keyframes start-animation {
        0% {
            transform: scale(0);
        }
        40% {
            transform: scale(1.2);
        }
        60% {
            transform: scale(0.9);
        }
        80% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes hide_out {
        0% {
            transform: scale(1);
        }
        30% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(0);
        }
    }
    .controlesJuego {
        width: 950px;
        height: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 2%;
        border: 2px solid black;
        align-items: center;
        justify-content: space-between;
    }
    .nJuego h2 {
        margin-left: 20px;
    }
    .cartelGanador {
        display: none;
        position: absolute;
        z-index: 1;
        left: 500px;
        top: 200px;
    }
    .cartelGanadorVisible {
        display: flex;
        position: absolute;
        z-index: 1;
        left: 200px;
        top: 300px;
        /* filter: blur(2px);*/
    }
    .blurear {
        filter: blur(2px);
    }
    /*.contenedor {
    margin-top: 150px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 70% 30%;
    /*background-color: rgba(88, 42, 114, 0.8);
    color: black;
}*/
    /*.contenedor2 {
    width: 100%;
    height: 100%;
}*/
    /*.contenedor3 {
    grid-template-rows: 50% 50%;
}

.card {
    width: 200px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    margin-left: 150px;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 0 10px 10px -5px #909090;
}

.boton {
    border: none;
    margin-left: 150px;
    margin-top: 20px;
}

.boton img {
    width: 50px;
    height: 50px;
}


/*.card {
    margin: 0 auto;
    padding: 50px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 10px -5px #909090;
    top: 100px;
    left: 50%;
    transform: translate(170%, -300%);
}

#countdown {
    font-size: 40px;
    color: black;
}*/
}