.juego {
    margin-top: 0;
}

.juegoPpal {
    width: 100%;
}

.controles {
    display:none;
}

.descripcion{
    margin: 3% 3% 0;
}

.descripcion h3 {
    text-align: center;
    background-color: #582A72;
    color: white;
}

.descripcion p {
    margin-top: 25px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 25px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.btn-fav {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: transparent;
}
.btn-compartir {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: transparent;
}
.like {
    width: 30px;
    height: 30px;
}
.btn-like {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: transparent;
    transition: transform 4s, background-color 5s;
}
.btn-like:focus {
    transform: scale(1.2);
    background-color: blue;
}
.noLike {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
}
.btn-noLike {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: transparent;
    transition: transform 4s, background-color 5s;
}
.btn-noLike:focus {
    transform: scale(1.2);
    background-color: red;
}

@media only screen and (min-width:600px) {
    .juego {
        margin-top: 150px;
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: 70% 30%;
        background-color: rgba(88, 42, 114, 0.8);
        color: white;
    }
    .juegoPpal {
        height: 100%;
        width: 100%;
    }
    .parteDerecha {
        margin-left: 5%;
        margin-right: 5%;
    }
    .botones {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
    img {
        margin: auto;
    }
    .controles {
        display: grid;
        grid-template-rows: 0.6fr 0.75fr 1fr;
        margin-top: 4%;
    }
    .controlTeclado {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .controlMouse {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .descripcion>p {
        text-align: justify;
        overflow-y: scroll;
        height: -webkit-fill-available;
        text-overflow: ellipsis;
        white-space: break-spaces;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .descripcion>p::-webkit-scrollbar {
        display: none;
    }
    .descripcion {
        height: 160px;
        margin-bottom: 50px;
    }
}