<div [ngStyle]='{"display":notFound}'>
    <app-loading2></app-loading2>
</div>
<div class="destacado">
    <div class="destacado1">
        <div class="titulo">
            <h1>Juego Destacado</h1>
        </div>

        <div>

            <a [routerLink]="['/juego']"><img src="assets/img/juegoDestacado.png"></a>
        </div>
    </div>
    <div class="destacado2">
        <div class="nombreJuego">
            <h2>Roblox</h2>
        </div>

        <div class="descripcion">
            <p>¿Qué es ROBLOX? ROBLOX es un taller virtual en línea, donde los niños de todas las edades pueden interactuar, crear, divertirse y aprender de manera segura. Es único en el sentido de que prácticamente todo en ROBLOX está diseñado y construido
                por miembros de la comunidad. ROBLOX está diseñado para niños de 8 a 18 años, pero está abierto a personas de todas las edades. Cada jugador comienza eligiendo un avatar y dándole una identidad. Luego pueden explorar ROBLOX: interactuar
                con otros chateando, jugando o colaborando en proyectos creativos.</p>
        </div>


        <div class="jugar">
            <!-- hay que agregar que cuando esta logueada -->
            <a [routerLink]="['/juego']"><button class="btnJugar">Jugar</button></a>
        </div>
    </div>


</div>

<app-juegos-list></app-juegos-list>