.grid {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 4%;
    margin-right: 4%;
}

img {
    height: 100px;
    width: 150px;
}

.imgPublicidad3 {
    display: none;
}

@media only screen and (min-width:600px) {
    .grid {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    img {
        height: 200px;
        width: 300px;
    }
    .imgPublicidad3 {
        visibility: hidden;
    }
}