@media only screen and (min-width:600px) {
    .buscar {
        display: flex;
        justify-content: center;
    }
    .buscar input {
        border: 2px solid black;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 25px;
        width: 500px;
        height: 39px;
    }
    .probando {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        gap: 1em;
    }
    .card h3 {
        font-size: 16px;
        text-align: center;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .card {
        border: 2px solid black;
        border-radius: 3px;
        width: 300px;
    }
    .card:hover {
        border: 2px solid #585858;
    }
    .card img {
        width: 100%;
        height: 100px;
    }
}