body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}


/*BARRA DE NAVEGACION*/

.barra {
    margin: 0;
    background-color: #582A72;
    color: #FFFFFF;
}

.barra>* {
    display: none;
}

.barra>.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuResponsive img {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    cursor: pointer;
}

.iconoPerfil img {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
}

.logo {
    display: flex;
    justify-content: center;
}

.imagenLogo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    height: 50px;
}

.img {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.hide {
    display: none !important;
}

.navbar-toggler-icon>img {
    width: 50px;
}


/*pantallas que superen los 600px*/

@media only screen and (min-width:600px) {
    .barra {
        background-color: #582A72;
        color: #FFFFFF;
        display: grid;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        z-index: 99;
    }
    .menuResponsive {
        display: none;
    }
    .iconoPerfil {
        display: none;
    }
    .logo {
        grid-column-start: 1;
    }
    .imagenLogo {
        margin-top: 25px;
        margin-left: 20px;
        margin-bottom: 25px;
        width: auto;
        height: auto;
    }
    .titulo {
        font-size: 2.5rem;
        margin: 0 1.5rem;
    }
    .btn-cat {
        height: 35px;
    }
    .lista {
        margin: auto;
        grid-column-start: 3;
        height: 100%;
        display: flex !important;
        align-items: center;
    }
    .lista ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .lista ul li {
        list-style: none;
        display: block;
        height: 100%;
        list-style: none;
    }
    .menuLineal>li {
        position: relative;
        display: inline-block;
    }
    .lista ul li a {
        text-decoration: none;
        color: #FFFFFF;
        height: 100%;
        margin-right: 30px;
        display: flex;
        padding-left: 0.5rem;
    }
    .lista a:hover {
        background-color: #555;
    }
    /*submenu*/
    .dropdowns {
        position: absolute;
        color: white;
        width: 250px;
        visibility: hidden;
        padding-top: 1rem !important;
        opacity: 0;
        transition: opacity 1.5;
    }
    .dropdowns>* {
        background-color: #582A72;
    }
    .dropdowns img {
        width: 88%;
        height: auto;
        margin-left: 12%;
        padding: 20px 0;
    }
    .menuLineal li:hover .dropdowns {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}