.juego {
    margin-top: 0;
}

.juegoPpal {
    width: 100%;
}

.controles {
    display: none;
}

.descripcion {
    margin: 3% 3% 0;
}

h3 {
    text-align: center;
    background-color: #582A72;
    color: white;
}

.descripcion p {
    margin-top: 25px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 25px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.btn-fav {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: transparent;
}

.btn-compartir {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: transparent;
}

.like {
    width: 30px;
    height: 30px;
}

.btn-like {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: transparent;
    transition: transform 4s, background-color 5s;
}

.btn-like:focus {
    transform: scale(1.2);
    background-color: blue;
}

.noLike {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
}

.btn-noLike {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: transparent;
    transition: transform 4s, background-color 5s;
}

.btn-noLike:focus {
    transform: scale(1.2);
    background-color: red;
}

@media only screen and (min-width:600px) {
    .juego {
        height: 850px;
        margin-top: 150px;
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: 70% 30%;
        background-color: rgba(88, 42, 114, 0.8);
        color: white;
    }
    .parteDerecha {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        display: grid;
        grid-template-rows: 70% 30%;
    }
    .botones {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
    img {
        margin: auto;
    }
    .controles {
        display: grid;
        grid-template-rows: 0.6fr 0.75fr 1fr;
        margin-top: 4%;
    }
    .controlTeclado {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .controlMouse {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .descripcion>p {
        text-align: justify;
        overflow-y: scroll;
        height: -webkit-fill-available;
        text-overflow: ellipsis;
        white-space: break-spaces;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .descripcion>p::-webkit-scrollbar {
        display: none;
    }
    .descripcion {
        height: 160px;
        margin-bottom: 50px;
    }
    /*CARTEL INICIO*/
    .center {
        position: absolute;
        top: 300px;
        left: 225px;
        width: 250px;
        height: 250px;
        border-radius: 5px;
        background: #fff;
        color: #2f2440;
        animation: start-animation 0.8s ease both;
    }
    h3 {
        margin: 10px;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
    p {
        font-size: 14px;
        margin: 15px;
        line-height: 0.9;
    }
    .dismiss {
        position: absolute;
        width: 250px;
        height: 50px;
        background: #F0B510;
        color: #fff;
        border: none;
        border-radius: 0 0 5px 5px;
        bottom: 0;
        font-size: 22px;
        transition: all 0.5s;
    }
    .dismiss:hover {
        cursor: pointer;
        letter-spacing: 2px;
        box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.5);
        transition: all 0.5s linear;
    }
    .hide-out {
        animation: hide_out 0.5s linear forwards;
    }
    @keyframes start-animation {
        0% {
            transform: scale(0);
        }
        40% {
            transform: scale(1.2);
        }
        60% {
            transform: scale(0.9);
        }
        80% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes hide_out {
        0% {
            transform: scale(1);
        }
        30% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(0);
        }
    }
    .controlesJuego {
        width: 950px;
        height: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 2%;
        border: 2px solid black;
        align-items: center;
        justify-content: space-between;
    }
    .nJuego h2 {
        margin-left: 20px;
    }
    /*ANIMACION JUEGO*/
    .juegoPal {
        margin-left: 2%;
    }
    .layer {
        width: 700px;
        /*en realidad tiene que ir 900*/
        height: 700px;
        position: absolute;
        background-repeat: repeat-x;
        background-size: cover;
    }
    @keyframes scroll {
        0% {
            background-position-x: 0px
        }
        100% {
            background-position-x: -1920px
        }
    }
    .layer3 {
        background-image: url('../img/imgGame/nubes.png');
        animation: scroll 35s infinite linear;
    }
    .layer2 {
        background-image: url('../img/imgGame/edificios333.png');
        animation: scroll 70s infinite linear;
    }
    .layer1 {
        background-image: url('../img/imgGame/caminoModificado2.png');
        animation: scroll 20s infinite linear;
    }
    /*ANIMACION JUEGO PERSONAJE*/
    @keyframes correr {
        0% {
            background-position: 0;
        }
        100% {
            background-position: -516px;
        }
    }
    .nena-corriendo {
        width: 83px;
        height: 123px;
        background: url('../img/imgGame/nena-corriendo.png') repeat-x;
        /*steps es la funcion de la animacion*/
        animation: correr 1s steps(6) infinite;
        position: relative;
        top: 520px;
        left: 40px;
    }
    @keyframes salto {
        0% {
            background-position: 0px;
        }
        100% {
            background-position: -291px;
        }
    }
    .nena-saltando {
        width: 94px;
        height: 123px;
        background: url('../img/imgGame/nena-saltando.png') repeat-x;
        animation: salto 1s steps(3) linear;
        position: relative;
        top: 420px;
        left: 40px;
    }
    @keyframes choque {
        0% {
            background-position: 0px;
        }
        100% {
            background-position: -198px;
        }
    }
    .nena-choque {
        width: 82px;
        height: 123px;
        background: url('../img/imgGame/nena-choque.png') repeat-x;
        animation: choque 1s steps(2);
        position: absolute;
        top: 520px;
        left: 40px;
    }
    /*ANIMACION MONEDA*/
    @keyframes moneda {
        0% {
            background-position: -420px;
        }
        100% {
            background-position: 0;
        }
    }
    #moneda {
        width: 42px;
        height: 42px;
        background: url('../img/imgGame/moneda1.png');
        animation: moneda 1s steps(10) infinite, mov 5s linear;
        position: absolute;
        left: 600px;
        top: 750px;
        /*right: 600px;*/
        background-repeat: no-repeat;
        /*z-index: 5;*/
    }
    /*ANIMACION OBSTACULO*/
    #bomba {
        width: 50px;
        height: 50px;
        background: url('../img/imgGame/bomba1.png');
        animation: mov 5s linear;
        position: absolute;
        left: 600px;
        top: 890px;
        background-repeat: no-repeat;
    }
    #piedra {
        width: 50px;
        height: 50px;
        background: url('../img/imgGame/piedra2.png');
        animation: mov 5s linear;
        position: absolute;
        left: 600px;
        top: 880px;
        background-repeat: no-repeat;
    }
    @keyframes mov {
        100% {
            left: 0px;
        }
        0% {
            left: 600px;
        }
    }
    #yes {
        width: 500px;
        height: 500px;
        background: url('../img/imgGame/yes.png');
        position: absolute;
        left: 130px;
        top: 620px;
        background-repeat: no-repeat;
    }
    .imgNena {
        border: 1px solid black;
        /*margin-left: 2%;*/
        cursor: pointer;
    }
    .imgNene {
        border: 1px solid black;
        margin-left: 2%;
        cursor: pointer;
    }
    .seleccionPersonaje {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .seleccion {
        border: 3px solid #582A72;
    }
    /*CARTEL FINAL*/
    .fin {
        display: none;
        width: 400px;
        height: 400px;
        background-color: #F0B510;
        border-radius: 5px;
        top: 500px;
        left: 180px;
        /*top: 600px;
        left: 250px;*/
        position: absolute;
        text-align: center;
        /*width: 100%;*/
        text-align: center;
        color: #ffffff;
        font-size: 30px;
        font-family: Verdana;
        font-weight: 700;
    }
    /*LISTA SIMILARES*/
    .lista2 {
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-rows: 30% 70%;
        margin-left: 2%;
        margin-right: 2%;
        animation: lista5 5s linear infinite 0s;
        -moz-animation: lista5 5s linear infinite 0s;
        -webkit-animation: lista5 5s linear infinite 0s;
    }
    @keyframes lista5 {
        0% {
            box-shadow: 0px 0px 5px #582A72;
        }
        20% {
            box-shadow: 0px 0px 20px #582A72;
        }
        50% {
            box-shadow: 0px 0px 30px #582A72;
        }
        60% {
            box-shadow: 0px 0px 50px #582A72;
        }
        70% {
            box-shadow: 0px 0px 30px #582A72;
        }
        80% {
            box-shadow: 0px 0px 20px #582A72;
        }
        100% {
            box-shadow: 0px 0px 5px #582A72;
        }
    }
    .linea {
        font-size: 20px;
        margin-top: 9px;
        height: 50px;
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
        margin-bottom: 50px;
    }
    .listaCard {
        /*grid-row: 2;*/
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-top: 0;
        /*column-gap: 1em;*/
    }
    p.juegoNombre {
        font-size: 16px;
        text-align: center;
        margin-top: 12px;
        margin-left: 10px;
        margin-right: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .card {
        margin-left: 22px;
        border: 2px solid black;
        border-radius: 5px;
        width: 228px;
        height: 200px;
    }
    .imgCard {
        border-radius: 5px;
    }
    .card:hover {
        border: 3px solid #582A72;
    }
    h3 {
        text-align: center;
        margin-top: 5px;
    }
    .nombre {
        height: 50px;
        width: 225px;
        justify-items: center;
    }
}