.lista2 {
    margin-top: 140px;
    width: 100%;
    background-image: url("../img/fondo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.h1 {
    font-size: 40px;
}