@media only screen and (min-width:600px) {
    .form {
        display: grid;
        grid-template-columns: 50% 50%;
        border: 1px solid black;
        height: 590px;
        width: 860px;
    }
    /*primer div*/
    .animacion {
        background-color: #5772AC;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .animacion container {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -64.5px;
        margin-top: -85.5px;
    }
    .ghost {
        animation: float 3s ease-out infinite;
    }
    .path {
        display: flex;
        justify-content: center;
    }
    @keyframes float {
        50% {
            transform: translate(0, 20px);
        }
    }
    .shadowFrame {
        width: 130px;
        margin-top: 15px;
    }
    .shadow {
        animation: shrink 3s ease-out infinite;
        transform-origin: center center;
        ellipse {
            transform-origin: center center;
        }
    }
    @keyframes shrink {
        0% {
            width: 90%;
            margin: 0 5%;
        }
        50% {
            width: 60%;
            margin: 0 18%;
        }
        100% {
            width: 90%;
            margin: 0 5%;
        }
    }
    .animacion h3 {
        font-size: 20px;
        font-style: italic;
        color: #ffffff;
        margin-left: 20px;
    }
    .animacion ul {
        color: #ffffff;
        list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");
        margin-left: 20px;
    }
    /*segundo div*/
    .formLogin {
        background-image: url("/assets/img/publicidad.webp");
        /*no funciona*/
        float: right;
        border-radius: 30px;
        padding: 10px;
        margin-bottom: 30px;
    }
    .centrar {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    input {
        border: 2px solid black;
        border-radius: 5px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        margin-top: 0;
        width: 232px;
        height: 39px;
    }
    .botonEntrar {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .btnEntrar {
        border-radius: 30px;
        background-color: #5772AC;
        font-style: black;
        width: 201px;
        height: 56px;
        font-size: 16px;
        color: white;
    }
    .botonNo {
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    .btnNo {
        border-radius: 8px;
        background-color: #F0B510;
        width: 352px;
        height: 40px;
        font-size: 16px;
        color: white;
    }
}