 <div [ngStyle]='{"display":notFound}'>
    <app-loading2></app-loading2>
</div>
 
<div class="juego">
    <div>
        <img class="juegoPpal" src="assets/img/juegoMasJugado.png" alt="Imagen del juego Pacman">
    </div>
    <div class="parteDerecha">
        <div>
            <div class="controles">
                <div>
                    <h3>Controles</h3>
                </div>
                <div class="controles2">
                    <div class="controlTeclado">
                        <img width="50px" height="50px" src="assets/img/Teclado.png" alt="Control usando teclado">
                        <p>W</p>
                        <p></p>
                        <p>A S D</p>
                    </div>
                    <div class="controlMouse">
                        <img width="50px" height="50px" src="assets/img/Raton.png" alt="Control usando el mouse">
                        <p>Usar Power up</p>
                    </div>
                </div>
            </div>
            <div class="descripcion">
                <h3>Descripcion</h3>
                <!-- agregar un ver mas -->
                <p>En la parte superior del tablero encontrarás una ficha para cada columna, pulsa en la que quieras deslizar. Gana quien primero alinea 4 fichas de un mismo color en vertical, horizontal o en diagonal. Si se llena todo el tablero de fichas
                    y nadie ha conseguido alinear cuatro consideramos que hay empate.</p>
            </div>
        </div>
        <div class="botones">
            <button class="btn-fav"> <img width="50px" height="50px" src="assets/img/Favorito.png" alt="Boton favorito"> </button>
            <button class="btn-compartir"> <img width="50px" height="50px" src="assets/img/Compartir.png" alt="Boton compartir"> </button>
            <button class="btn-like">  <img class="like" src="assets/img/Like2.png" alt="Boton me gusta"> </button>
            <button class="btn-noLike"> <img class="noLike" src="assets/img/Like2.png" alt="Boton no me gusta"> </button>
        </div>
    </div>
</div>
<app-publicidad></app-publicidad>
<app-juegos-similares></app-juegos-similares>