@media only screen and (min-width:600px) {
    .lista2 {
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-rows: 30% 70%;
        /*grid-template-columns: repeat(6, 1fr);*/
        margin-left: 2%;
        margin-right: 2%;
        animation: lista2 5s linear infinite 0s;
        -moz-animation: lista2 5s linear infinite 0s;
        -webkit-animation: lista2 5s linear infinite 0s;
    }
    @mixin keyframes($name) {
        @-webkit-keyframes #{$name} {
            @content;
        }
        @-moz-keyframes #{$name} {
            @content;
        }
        @-o-keyframes #{$name} {
            @content;
        }
        @-ms-keyframes #{$name} {
            @content;
        }
        @keyframes #{$name} {
            @content;
        }
    }
    @include keyframes(lista2) {
        0% {
            box-shadow: 0px 0px 5px #582A72;
        }
        20% {
            box-shadow: 0px 0px 20px #582A72;
        }
        50% {
            box-shadow: 0px 0px 30px #582A72;
        }
        60% {
            box-shadow: 0px 0px 50px #582A72;
        }
        70% {
            box-shadow: 0px 0px 30px #582A72;
        }
        80% {
            box-shadow: 0px 0px 20px #582A72;
        }
        100% {
            box-shadow: 0px 0px 5px #582A72;
        }
    }
    .titulo {
        display: flex;
        margin-left: 25px;
        margin-top: 25px;
        margin-bottom: 50px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .btn-mas {
        border: 2px solid #582A72;
        border-radius: 30px;
        color: #582A72;
    }
    .linea {
        margin-top: 9px;
        height: 50px;
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
    }
    .ver-mas{
        margin-left: 3%;
    }
    .listaCard {
        
        grid-row: 2;   
        margin-left: 25px;
        margin:auto;
        margin-top: 0;
    }
    p.juegoNombre {
        text-align: center;
        margin-top: 12px;
        margin-left: 10px;
        margin-right: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .card {
        border: 2px solid black;
        border-radius: 5px;
        width: 228px;
        height: 200px;
    }
    .card img {
        border-radius: 5px;
    }
    .card:hover {
        border: 3px solid #582A72;
    }
    h3 {
        text-align: center;
        margin-top: 5px;
    }
    .nombre{
        height: 50px;
        width: 225px;
        justify-items: center;
    }
}