<div [ngStyle]='{"display":notFound}'>
    <app-loading2></app-loading2>
</div>
<div class="lista2" *ngFor="let categoria of categorias">
    <div class="titulo">
        <div class="linea">
            <h2>Juegos de {{categoria.categoria}}</h2>
        </div>
        <div class="ver-mas">
            <button class="btn-mas" [routerLink]="['/accion']"> Ver mas</button>
        </div>
    </div>
    <div class="listaCard" *ngFor="let juego of categoria.juegos.slice(0,5)">
        <a [routerLink]="['/juego/']" style="
        color: black;
        text-decoration: none;"><div class="card">
            <div>
                <img width="225px" height="150px" [src]="juego.imagen" [alt]="juego.nombre">
            </div>
            <div class="nombre">
                <p class="juegoNombre">{{juego.nombre}}</p>
            </div>
        </div></a>
    </div>


</div>